/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* HEADER */
header, footer{
    padding: 20px;
}
header {
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 20px;
}
.btn-container{
    margin-left: auto;
    margin-right: 10px;
}
.play-btn {
    padding: 5px 40px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 16px;
    background-color:#e9e9ed;
}
select{
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 16px;
    background-color:#e9e9ed;
}
.btn-container span {
    font-size: 20px;
}
/* MAIN */
main{
    flex-grow: 1;
    background-color:#7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.hidden {
    visibility: hidden;
}
.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    background-color:#7fffd4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.active-cell{
    background-color: #78acf4;
}
.d-none{
    display: none;
}
/* FOOTER */
footer {
    font-size: 18px;
}